{% extends "frame.html" %}

{% block title %}Password_Change_form{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h1>{{ title }}</h1>
    <!-- 비밀번호 변경-->
    <form action="." method="POST"> {% csrf_token %}
        <!-- 에러 표시-->
        {% if form.errors %}
            <p class="errornote">Wrong! Please correct the errors below</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <p>Please enter your old password for security's sake, and then enter your new password twice.</p>
        <fieldset class="aligned">
            <!-- 기존 비밀번호 -->
            <div class="form-row">
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <!-- 새 비밀번호 1 -->
            <div class="form-row">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                
            </div>
            <!-- 새 비밀번호 2 -->
            <div class="form-row">
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
               

            </div>
        </fieldset>
        <!-- 제출 -->
        <div class="submit-row">
            <input type="submit" value="Password Change" class="default">
        </div>
        <script type="text/javascript">document.getElementById('id_old_password').focus();
        </script>
    </form>
</div>
{% endblock %}